<div id="page-content" class="page-wrapper">
  <div class="login-section mb-80">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="registered-customers">
            <br>
              <h2 class="widget-title border-left mb-50">Sign Up ADMIN</h2>
              <div class="login-account p-30 box-shadow">
              <!-- EMAIL INPUT -->
              <div class="row">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="field col-sm-6">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>
              </div>
              <!-- PASSWORD INPUT -->
              <div class="row">
                <div class="field col-sm-6">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
              </div>
              <!-- PASSWORD CONFIRMATION INPUT -->
              <div class="row">
                <div class="field col-sm-6">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
              </div>
              <!-- REMEMBER ME CHECKBOX -->
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>
              <!-- SIGN UP BUTTON -->
                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>
              <br>
              <!-- SHARED LINKS (LOGIN) -->
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
