
<br>


        <!-- Start page content -->
        <div id="page-content" class="page-wrapper">

            <!-- SHOP SECTION START -->
            <div class="shop-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-md-push-3 col-sm-12">
                            <div class="shop-content">
                                <!-- shop-option start -->
                                <div class="shop-option box-shadow mb-30 clearfix">
                                    <!-- Nav tabs -->
                                    <ul class="shop-tab f-left" role="tablist">
                                        <li class="active">
                                            <a href="#grid-view" data-toggle="tab"><i class="zmdi zmdi-view-module"></i></a>
                                        </li>
                                        <li>
                                            <a href="#list-view" data-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a>
                                        </li>
                                    </ul>
                                    <!-- short-by -->
                                    <!-- <div class="short-by f-left text-center">
                                        <span>Filtrar por:</span>
                                        <select>
                                          <option value="mercedes">Lo mas nuevo</option>
                                          <option value="audi">Lo mas antiguo</option>
                                          <option value="volvo">Precio mas bajo</option>
                                          <option value="saab">Precio mas alto</option>
                                        </select>
                                    </div> -->
                                    <!-- showing -->
                                    <div class="showing f-right text-right">
                                        <span> Total productos: <%= @elements.count %></span>
                                    </div>
                                </div>
                                <!-- shop-option end -->
                                <!-- Tab Content start -->
                                <div class="tab-content">
                                    <!-- grid-view -->

                                    <div role="tabpanel" class="tab-pane active" id="grid-view">
                                      <% @found.each do |element| %>
                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <%=link_to (image_tag element.image.url(:medium)), element_path(element) %>

                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-title">
                                                        <%=link_to element.title, element_path(element) %>
                                                    </h6>

                                                    <h3 class="pro-price">$<%= element.price %></h3>

                                                </div>
                                            </div>
                                        </div>
                                      <% end %>
                                    </div>
                                    <!-- list-view -->
                                    <div role="tabpanel" class="tab-pane" id="list-view">
                                        <div class="row">
                                            <!-- product-item start -->
                                            <% @elements.sort_by{|t| - t.created_at.to_i}.each do |element| %>
                                            <div class="col-md-12">
                                                <div class="shop-list product-item">
                                                    <div class="product-img">
                                                        <a href="single-product.html">
                                                            <%=link_to (image_tag element.image.url(:medium)), element_path(element) %>
                                                        </a>
                                                    </div>
                                                    <div class="product-info">
                                                        <div class="clearfix">
                                                            <h6 class="product-title f-left">
                                                                <%=link_to element.title, element_path(element) %>
                                                            </h6>
                                                        </div>
                                                        <h6 class="brand-name mb-30">Brand Name</h6>
                                                        <h3 class="pro-price">$ <%= element.price%> </h3>
                                                        <p><%= element.description %><p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-pull-9 col-sm-12">
                            <!-- widget-search -->
                            <aside class="widget-search mb-30">
                              <%= form_tag elements_path, method: :get do %>
                                    <input name="search" type="text" placeholder="Busque aquí...">
                                    <button type="submit"><i class="zmdi zmdi-search"></i></button>
                              <% end %>
                            </aside>
                            <!-- widget-categories -->
                            <aside class="widget widget-categories box-shadow mb-30">
                                <h6 class="widget-title border-left mb-20">Categorias</h6>
                                <div id="cat-treeview" class="product-cat">
                                    <% @categories.each do |category| %>
                                    <ul>
                                      <li class="open"><%=link_to category.title, products_path %>
                                            <% category.categories.each do |category2| %>
                                            <ul>
                                              <li><%= link_to category2.title, products_path%> </li>
                                            </ul>
                                            <% end %>
                                        </li>
                                    </ul>
                                    <% end %>
                                </div>
                            </aside>

                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP SECTION END -->
            <!-- Tab Content end -->

        </div>
        <!-- End page content -->
        <!-- shop-pagination start -->
        <ul class="shop-pagination box-shadow text-center ptblr-10-30">
        <%= will_paginate @elements %>
        </ul>
        <!-- shop-pagination end -->
    </div>
    <!-- Body main wrapper end -->


    <!-- Placed JS at the end of the document so the pages load faster -->

    <!-- jquery latest version -->
