<%- model_class = Brand -%>
<div class="page-header">
  <h1><%=t 'marcas' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:fecha_de_creacion) %></th>
      <th><%=t '.actions', :default => t("acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= link_to brand.id, admin_brand_path(brand) %></td>
        <td><%= brand.name %></td>
        <td><%= brand.created_at.strftime("%d %b %Y") %></td>
        <td>
          <%= link_to t('.show', :default => t("ver")),
                      admin_brand_path(brand), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("editar")),
                      edit_admin_brand_path(brand), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("eliminar")),
                      admin_brand_path(brand),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_brand_path,
            :class => 'btn btn-primary' %>
