<%= form_for [:admin, @element], :html => { :class => "form-horizontal element" } do |f| %>

  <% if @element.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@element.errors.count, "error") %> prohibited this element from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @element.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control', :required => true %>
    </div>
    <%=f.error_span(:title) %>
  </div>


  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control', :required => true %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <%= f.label :brand_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :brand_id, options_for_select(Brand.all.map{|b| [b.name, b.id]}, @element.brand_id), {prompt: "Seleccione una marca"}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:brand) %>
  </div>


  <div class="form-group">
    <%= f.label :price, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.number_field :price, :class => 'form-control', :required => true %>
    </div>
    <%=f.error_span(:price) %>
  </div>

  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image, :class => 'form-control', :required => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :category_id, options_for_select(Category.all.map{|c| [c.title, c.id]}, @element.category_id), {}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:category) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_elements_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
