<%- model_class = Element -%>
<div class="page-header">
  <h1><%=t 'Productos' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:descripcion) %></th>
      <th><%= model_class.human_attribute_name(:imagen) %></th>
      <th><%= model_class.human_attribute_name(:fecha_creación) %></th>
      <th><%=t '.actions', :default => t("acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= link_to element.id, admin_element_path(element) %></td>
        <td><%= element.title %></td>
        <td><%= element.description %></td>
        <td><%= image_tag(element.image.url(:thumb)) %></td>
        <td><%= element.created_at.strftime("%d %b %Y") %></td>
        <td>
          <%= link_to t('.show', :default => t("ver")),
                      admin_element_path(element), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("editar")),
                      edit_admin_element_path(element), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("eliminar")),
                      admin_element_path(element),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_element_path,
            :class => 'btn btn-primary' %>
