<div id="page-content" class="page-wrapper">
  <div class="login-section mb-80">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="registered-customers">
            <br>
              <h2 class="widget-title border-left mb-50">Log in ADMIN</h2>
              <div class="login-account p-30 box-shadow">
              <!-- EMAIL INPUT -->
              <div class="row">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field col-sm-6">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>
              </div>
              <!-- PASSWORD INPUT -->
              <div class="row">
                <div class="field col-sm-6">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
              </div>
              <!-- REMEMBER ME CHECKBOX -->
                <% if devise_mapping.rememberable? -%>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>
              <!-- LOG IN BUTTON -->
                <div class="actions">
                  <%= f.submit "Log in" %>
                </div>
              <% end %>
              <br>
              <!-- SHARED LINKS (SIGN UP, FORGOT YOUR PASSWORD?) -->
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
