<h1>Bienvenido al panel de administrador</h1>

<h3>Los pasos correctos a seguir para empezar a agregar productos son los siguientes: </h3><br>
<h4>1) Crear una categoria </h4>
<h4>2) Crear una marca </h4>
<h4>3) Crear un producto</h4>
