<%- model_class = Admin::Category -%>
<div class="page-header">
  <h1><%=t 'Categorias' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nombre_de_categoria) %></th>
      <th><%= model_class.human_attribute_name(:fecha_creacion) %></th>
      <th><%=t '.actions', :default => t("Acciones") %></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.id, admin_category_path(category) %></td>
        <td><%= category.title %></td>
        <td><%= category.created_at.strftime("%d %b %Y") %></td>
        <td>
          <%= link_to t('.show', :default => t("ver")),
                      admin_category_path(category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("editar")),
                      edit_admin_category_path(category), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("eliminar")),
                      admin_category_path(category),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_category_path,
            :class => 'btn btn-primary' %>
