<%- model_class = Admin::Category -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<h3>¡Muy imporante! </h3><br>
<h4>Si desea crear una categoria nueva, no debe seleccionar ninguna categoria en el listado de mas adelante </h4>
<h4>Si desea crear una Sub-categoria de alguna categoría ya existente, debe seleccionarla en el listado </h4> <br>
<%= render :partial => 'form' %>
