<!-- ABOUT SECTION START -->
<br>

<div class="about-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left ">
                    <h2 class="uppercase">Sobre Acondiparts</h2>
                    <!-- <h6 class="mb-40">There are many variations of passages of brands available,</h6> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="about-photo p-20 bg-img-1">
                    <img src="img/others/aboutus.jpg" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="about-description mt-50">
                    <p align="justify">Somos Acondiparts Center, Daikin partner en chile, distribuidor autorizado de suministros de sistemas de climatización y repuestos Daikin-Mcquay-Goodman, grupo líder a nivel mundial en tecnología y eficiencia energética con un máximo confort . Estamos ubicados en Euclides 1425, San Miguel, Santiago, en donde podrá visitar nuestro Showroom y conocer nuestra variedad de productos e insumos certificados para el área de la climatización y refrigeración.</p>

                    <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia is be deserunt mollit anim est laborum. Sed ut perspiciatis unde omnis iste natus error sit. voluptatem accusantium doloremque laudantium,</p> -->

                    <!-- <p>totam remes aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam.</p> -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT SECTION END -->
