<!-- ADDRESS SECTION START -->
<br>

<!-- ADDRESS SECTION END -->

<!--MAP SECTION START -->
<!-- <div class="google-map-section">
    <div class="container-fluid">
        <div class="google-map plr-185">
            <div id="googleMap">
                <script>
                function myMap() {
                  var mapProp= {
                      center:new google.maps.LatLng(-33.499689, -70.616494),
                      zoom:15,
                  }
                  var map= new google.maps.Map(document.getElementById("googleMap"),mapProp);

                  var marker = new google.maps.Marker({
                    position: mapProp,
                    map: map,
                    title: 'HELLO WORLD!'
                  })
                }
                </script>
            </div>
        </div>
    </div>
</div> -->
<!-- GOOGLE MAP SECTION END -->

<section class="map-area-main">
		<div class="container-fluid">
			<div class="map-area">
				<div id="googleMap" style="width:100%;height:500px;"></div>
			</div>
		</div>
</section>
<script src="js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZqJ1V9546F1vBdS36hwEhANL2RcUjHPo&callback=initialize"
  type="text/javascript"></script>
	<script>
		function initialize() {
		  var mapOptions = {
			zoom: 16,
			scrollwheel: false,
			center: new google.maps.LatLng(-33.478180, -70.651762)
		  };

		  var map = new google.maps.Map(document.getElementById('googleMap'),
			  mapOptions);

		  var marker = new google.maps.Marker({
			position: map.getCenter(),
			animation:google.maps.Animation.BOUNCE,
			icon: 'img/icon/map-marker.png',
			map: map
		  });

		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

<!-- MESSAGE BOX SECTION START -->
<!-- <div class="message-box-section mt--50 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="message-box box-shadow white-bg">
                    <form id="contact-form" action="mail.php" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="blog-section-title border-left mb-30">CONTÁCTENOS</h4>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="name" placeholder="Su nombre aquí...">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="email" placeholder="Su email aquí...">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="subject" placeholder="Su asunto aquí...">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="phone" placeholder="Su teléfono aquí...">
                            </div>
                            <div class="col-md-12">
                                <textarea class="custom-textarea" name="message" placeholder="Su mensaje aquí..."></textarea>
                                <button class="submit-btn-1 mt-30 btn-hover-1" type="submit">ENVIAR MENSAJE</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="address-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <div class="contact-address box-shadow">
                    <i class="zmdi zmdi-pin"></i>
                    <h6>Euclides #1425</h6>
                    <h6>San Miguel, Santiago</h6>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="contact-address box-shadow">
                    <i class="zmdi zmdi-phone"></i>
                    <h6>(2)27620341</h6>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12">
                <div class="contact-address box-shadow">
                    <i class="zmdi zmdi-email"></i>
                    <h6>info@acondiparts.cl</h6>
                    <h6>cgomez@acondiparts.cl</h6>
										<h6>ventas@acondiparts.cl</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Google Map js -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZqJ1V9546F1vBdS36hwEhANL2RcUjHPo&callback=myMap"></script> -->
