<div class="slider-area  plr-185  mb-80">
    <div class="container-fluid">
        <div class="slider-content">
            <div class="row">
                <div class="active-slider-1 slick-arrow-1 slick-dots-1">
                    <!-- layer-1 Start -->
                    <div class="col-md-12">
                        <div class="layer-1">
                            <div class="slider-img">
                                <img src="img/slider/slider-1/1.png" alt="">
                            </div>
                            <div class="slider-info gray-bg">
                                <div class="slider-info-inner">
                                    <h1 class="slider-title-1 text-uppercase text-black-1">Disfrute del clima perfecto con ACONDIPARTS</h1>
                                    <div class="slider-brief text-black-2">
                                        <p>Con más de 90 años de experiencia en soluciones de climatización y control climático, sabemos que para lograr el clima perfecto hace falta algo más que solo calefacción y refrigeración</p>
                                    </div>

                                    <a href="/products" class="button extra-small button-black">
                                        <span class="text-uppercase">VER MAS</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- layer-1 end -->
                    <!-- layer-1 Start -->
                    <div class="col-md-12">
                        <div class="layer-1">
                            <div class="slider-img">
                                <img src="img/slider/slider-1/2.jpeg" alt="">
                            </div>
                            <div class="slider-info gray-bg">
                                <div class="slider-info-inner">
                                    <h1 class="slider-title-1 text-uppercase text-black-1">WaterProof smartphone</h1>
                                    <div class="slider-brief text-black-2">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum,</p>
                                    </div>
                                    <a href="#" class="button extra-small button-black">
                                        <span class="text-uppercase">Buy now</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- layer-1 end -->
                    <!-- layer-1 Start -->
                  
                    <!-- layer-1 end -->
                </div>
            </div>
        </div>
    </div>
</div>

<section id="page-content" class="page-wrapper">
  <!-- PRODUCT TAB SECTION START -->
  <div class="product-tab-section mb-50">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="section-title text-left mb-40">
                      <h2 class="uppercase">Productos más recientes:</h2>
                  </div>
              </div>

          </div>
          <div class="product-tab">
              <!-- Tab panes -->
              <div class="tab-content">
                  <!-- popular-product start -->
                  <div class="tab-pane active" id="popular-product">
                      <div class="row">
                      <!-- product-item start -->
                      <div class="product-tab">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- popular-product start -->
                            <div class="tab-pane active" id="popular-product">
                                <div class="row">

                                  <% @elements.sort_by{|t| - t.created_at.to_i}.first(4).each do |element| %>
                                    <div class="col-md-3 col-sm-4 col-xs-12">
                                        <div class="product-item">
                                            <div class="product-img">
                                                <%=link_to (image_tag element.image.url(:medium)), element_path(element) %>

                                                </a>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="product-title">
                                                    <%=link_to element.title, element_path(element) %>
                                                </h6>

                                                <h3 class="pro-price">$<%= element.price %></h3>

                                            </div>
                                        </div>
                                    </div>
                                  <% end %>
                                </div>
                              </div>
                          </div>
                       </div>

                      <!-- <%= yield %> -->
                      <!-- product-item end -->

  </div>
  <!-- PRODUCT TAB SECTION END -->

</section>
