
<div class="breadcrumbs-section plr-200 mb-80">
    <div class="breadcrumbs overlay-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs-inner">
                        <h1 class="breadcrumbs-title">Single Product Without Sidebar</h1>
                        <ul class="breadcrumb-list">
                            <li><%= link_to "Home", root_path%> </li>
                            <li>Single Product Without Sidebar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="page-content" class="page-wrapper">

    <!-- SHOP SECTION START -->
    <div class="shop-section mb-80">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <!-- single-product-area start -->
                    <div class="single-product-area mb-80">
                        <div class="row">
                            <!-- imgs-zoom-area start -->
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="imgs-zoom-area">

                                    <img id="zoom_03" src="<%= @element.image.url%>" data-zoom-image="<%= @element.image.url%>" alt="">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                <div class="p-c">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- imgs-zoom-area end -->
                            <!-- single-product-info start -->
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="single-product-info">
                                    <h3 class="text-black-1"><%= @element.title%> </h3>
                                    <h6 class="brand-name-2"><%= @element.brand.name %> </h6>
                                    <!-- hr -->
                                    <hr>
                                    <!-- single-product-tab -->
                                    <div class="single-product-tab">
                                        <ul class="reviews-tab mb-20">
                                            <li  class="active"><a href="#description" data-toggle="tab">Descripción</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="description">
                                               <%= @element.description %>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  hr -->
                                    <hr>
                                    <p class="color-title f-left"> Precio: $</p> <h4> <%= @element.price%> </h4>
                                    <!-- single-pro-color-rating -->

                                    <!-- hr -->
                                    <hr>
                                    <!-- plus-minus-pro-action -->

                                </div>
                            </div>
                            <!-- single-product-info end -->
                        </div>
                    </div>
                    <!-- single-product-area end -->

                </div>
            </div>
        </div>
    </div>
    <!-- SHOP SECTION END -->

</section>
